[Desktop Entry]
Name=Eclipse C/C++
Type=Application
Exec=env UBUNTU_MENUPROXY=0 eclipse-cpp
Terminal=false
Icon=eclipse-cpp
Comment=Integrated Development Environment
NoDisplay=false
Categories=Development;IDE;
Name[en]=Eclipse C/C++
